# Cloudflare R2 Configuration
# Copy this file to .env and fill it with your data

# R2 bucket name
R2_BUCKET=your-bucket-name

# name of the folder where your .png files are
PNG_FOLDER_NAME=your-png-folder-name